.dark-green {
    color: #595 !important;
}

.light-green {
    color: #cdc;
}

.pyowa-hero-unit {
    background:#fff !important;
    border:1px solid #ddd;
}

#post {
    margin-top: 20px;
}

.past-meetings dt { color: #595 !important; }

.jobs {
    list-style-type: none;
}
